scripts=["
    create path /conf/contentor(sling:OrderedFolder)
    create path /conf/contentor/settings(sling:OrderedFolder)
    create path /conf/contentor/settings/script(sling:OrderedFolder)
    create path /conf/contentor/settings/script/disabled(sling:OrderedFolder)
    create path /conf/contentor/settings/script/enabled(sling:OrderedFolder)
    create path /var/contentor(sling:OrderedFolder)

    create service user contentor-service with path system/contentor/contentor-service

    set ACL for contentor-service
        allow jcr:all on /
    end
"]
