scripts=["
    create path /conf/acm(sling:OrderedFolder)
    create path /conf/acm/settings(sling:OrderedFolder)
    create path /conf/acm/settings/script(sling:OrderedFolder)
    create path /conf/acm/settings/script/disabled(sling:OrderedFolder)
    create path /conf/acm/settings/script/enabled(sling:OrderedFolder)
    create path /var/acm(sling:OrderedFolder)

    create service user acm-service with path system/acm/acm-service

    set ACL for acm-service
        allow jcr:all on /
    end
"]
