scripts=["
    create path /conf/acm(sling:OrderedFolder)
    create path /conf/acm/settings(sling:OrderedFolder)
    create path /conf/acm/settings/script(sling:OrderedFolder)
    create path /conf/acm/settings/script/manual(sling:OrderedFolder)
    create path /conf/acm/settings/script/auto(sling:OrderedFolder)
    create path /conf/acm/settings/script/auto/disabled(sling:OrderedFolder)
    create path /conf/acm/settings/script/auto/enabled(sling:OrderedFolder)
    create path /var/acm(sling:OrderedFolder)

    create service user acm-content-service with path system/acm/acm-content-service
    set ACL for acm-content-service
        allow jcr:all on /
    end

    create service user acm-mock-service with path system/acm/acm-mock-service
    set ACL for acm-mock-service
        allow jcr:read on /content
        allow jcr:read on /conf
    end

    create path /apps/acm(sling:Folder)
    create path /apps/cq/core/content/nav/tools/acm(sling:Folder)

    set ACL for everyone
        deny jcr:read on /apps/acm
        deny jcr:read on /apps/cq/core/content/nav/tools/acm
    end
"]
