scripts=["
    create path /conf/migrator(sling:OrderedFolder)
    create path /var/migrator(sling:OrderedFolder)

    create service user migrator-service with path system/migrator/migrator-service

    set ACL for migrator-service
        allow jcr:read on /
        allow jcr:all on /var/migrator
    end
"]
