.markdown code {
  font-size: 12px;
}

.markdown p:first-child,
.markdown ol:first-child,
.markdown ul:first-child {
  margin-block-start: 0;
}

.markdown p:last-child,
.markdown ol:last-child,
.markdown ul:last-child {
  margin-block-end: 0;
}
